{% extends "base.html" %}
{% load staticfiles %}
{% load hello_tags %}
{% block extra_head %}
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <title>Main</title>
{% endblock %}
{% block content %}
    <div class="indicator"><img src="{% static 'images/indicator.gif' %}"> </div>
    <div class="container">
        <div id="test_name" class="col-xs-8 col-xs-offset-2 text-center"><h1>42 Coffee Cups Test Assignment</h1></div>
        <div class="row">
               <div class="col-xs-2 pull-right">
                <div class="authenticated-div">
                    {% if user.is_authenticated %}
                        <div class="logout-div">
                            <a href='{% url 'hello:logout' %}'>Logout</a>
                        </div>
                        <div class="header_link"><a href='{% url 'hello:edit_profile' %}'>Edit</a></div>
                        <a href='{% edit_link profile %}'>(admin)</a>
                    {% else %}
                        <div class="logout-div">
                            <a href='{% url 'hello:login' %}'>Login</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-11 main-div">
            <div class="row">
                <div class='logged_in_greeting col-xs-12'>
                    <div class='row'>
                        <div class='logged_in_greeting_title col-xs-10'>
                            <div class="user-data">
                                <div class="col-xs-4 col-xs-offset-4 left-column">
                                    <div class="field">{{ profile.name }}</div>
                                    <div class="field">{{ profile.last_name }}</div>
                                    <div class="field">{{ profile.date_of_birth }}</div>
                                    <div class="div_image_preview">
                                        {% if profile.photo  %}
                                            <img id="image_preview" width="200"  src="{% static profile.photo.url %} ">
                                        {% else %}
                                            <img id="image_preview" width="200"  src="{% static 'images/no-avatar.jpeg' %}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-4 right_column">
                                    <div class="field">Email: {{ profile.email }}</div>
                                    <div class="field">Jabber: {{ profile.jabber }}</div>
                                    <div class="field">Skype: {{ profile.skype }}</div>
                                    <span>Other_contacts:</span>
                                    <div class="field">{{ profile.other_contacts|linebreaks }}</div>
                                    <span id="bio_title">Bio:</span>
                                    <div>{{ profile.bio|linebreaks }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 hr"></div>
                                <div class="col-xs-3">
                                    <a href="{% url 'hello:request_list' %}">requests</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}